.glow-btn {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 15px 50px;

  font-size: var(--p-size-1);
  font-family: var(--font-display);
  letter-spacing: 2px;
  font-weight: bolder;

  color: var(--eco-neon);
  background-color: var(--midnight-steel);
  border: 3px solid var(--eco-neon);
  border-radius: 10px;

  cursor: pointer;
  transition: 300ms ease-in-out;
}

.glow-btn:hover {
  color: var(--midnight-steel);
  background-color: var(--eco-neon);
  box-shadow: 0px 0px 20px rgba(var(--rgb-eco-neon), 1);
}

@media (max-width: 900px) {
  .glow-btn {
    font-size: var(--p-size-2);
  }
}

@media (max-width: 500px) {
  .glow-btn {
    margin-bottom: 30px;
  }
}