.mtt-wrapper {
    position: relative;
    width: 100%;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.mtt-wrapper > .mtt-header {
  font-size: var(--h1-size-1);
  font-family: var(--font-display);
  color: var(--eco-neon);
  word-spacing: 10px;
  padding-top: 30px;
  margin-left: 30px;
}

@media (max-width: 900px) {

  .mtt-wrapper > .mtt-header {
    font-size: var(--h1-size-2);
    padding-top: 25px;
    margin-left: 25px;
  }    
}

@media (max-width: 500px) {

  .mtt-wrapper > .mtt-header {
    font-size: var(--h1-size-3);
    padding-top: 20px;
    margin-left: 20px;
  }    
}
