.department-wrapper {
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  margin-top: 65px;
  margin-bottom: 35px;
}

.department-wrapper.inverse {
  flex-direction: row-reverse;
}

.department-image {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.department-image > img {
  position: relative;       
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.department-content {
  position: relative;
  flex: 1;
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.department-content > h1 {
  font-size: var(--h1-size-1);
  font-family: var(--font-display);
  color: var(--eco-neon);
}

.department-content > .text-content {
  font-size: var(--p-size-1);
  letter-spacing: 1.5px;
  font-weight: 100;
  color: var(--cloud-gray);
  word-spacing: 5px;
}

@media (max-width: 900px) {
  .department-wrapper {
    flex-direction: row;
    min-height: 450px;
    margin-top: 35px;
  }

  .department-wrapper.inverse {
    flex-direction: row-reverse;  
  }

  .department-content > h1 {
    font-size: var(--h1-size-2);
  }

  .department-content {
    padding: 20px;
  }

  .department-content > .text-content {
    font-size: var(--p-size-2);
    letter-spacing: 1.3px;
    word-spacing: 3px;
  }
}

@media (max-width: 500px) {
  .department-wrapper {
    flex-direction: column;
    min-height: 600px;
    margin-top: 25px;
  }

  .department-wrapper.inverse {
    flex-direction: column;  
  }

  .department-content > h1 {
    font-size: var(--h1-size-3);
  }

  .department-content {
    padding: 15px;
  }

  .department-content > .text-content {
    font-size: var(--p-size-3);
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}