.footer {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--midnight-steel);
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  margin-top: var(--navbar-height);
}

.footer > .credit {
  position: relative;
  color: rgba(var(--rgb-cloud-gray), 0.5);
}

.footer > .copyright {
  position: relative;
}

@media (max-width: 900px) {
  .footer > .credit {
    font-size: 0.8rem;
  }

  .footer > .copyright {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .footer{
    margin-top: var(--min-navbar-height);
  }
  .footer > .credit {
    font-size: 0.6rem;
  }

  .footer > .copyright {
    font-size: 0.6rem;
  }
}