.footer {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--midnight-steel);
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  margin-top: var(--navbar-height);
}

.footer > .copyright {
  position: relative;
  font-size: var(--p-size-1);
  letter-spacing: 1px;
  word-spacing: 3px;
}

@media (max-width: 900px) {

  .footer > .copyright {
    font-size: var(--p-size-2);
    word-spacing: 1.5px;
  }
}

@media (max-width: 500px) {
  .footer{
    margin-top: var(--min-navbar-height);
  }

  .footer > .copyright {
    font-size: var(--p-size-3);
    word-spacing: 1px;
  }
}