:root {
  --eco-neon: #C3FF2B;
  --deep-forest: #0B3310;
  --vibrant-rose: #F06A93;
  --cloud-gray: #E5E5E5;
  --carbon-black: #1C1C1C;
  --midnight-steel: #040D16;

  --font-display: 'Parabole Display Bold', sans-serif;
  --font-text: 'Parabole Text Regular', sans-serif;
}