:root {
  --eco-neon: #C3FF2B;
  --rgb-eco-neon: 195, 255, 43;

  --deep-forest: #0B3310;
  --rgb-deep-forest: 11, 51, 16;

  --vibrant-rose: #F06A93;
  --rgb-vibrant-rose: 240, 106, 147;

  --cloud-gray: #E5E5E5;
  --rgb-cloud-gray: 229, 229, 229;

  --carbon-black: #1C1C1C;
  --rgb-carbon-black: 28, 28, 28;

  --midnight-steel: #040D16;
  --rgb-midnight-steel: 4, 13, 22;

  --font-display: 'Parabole Display', sans-serif;
  --font-text: 'Parabole Text', sans-serif;
}